{
	admin off
	auto_https off # Disable automatic HTTPS. Terminate TLS at the load balancer.
}

https://pelican.jdmarble.net http:// {
	root * /var/www/html/public
	encode gzip

	php_fastcgi 127.0.0.1:9000
	file_server
}
